* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  text-align: center;
  background-color: grey;
  color: #fff;
  margin: 0 auto;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  font-size: 30px;
  margin: 45px;
}

span {
  font-weight: 700;
  color: #cbe06d;
}

.card {
  display: grid;
  justify-content: center;
  grid-gap: 10px;
  grid-template-columns: 500px 500px;
  margin: 10px;
}

.card-name {
  font-size: 25px;
  color: #eaefd3;
}

.card-content {
  border: 3px solid rgb(237, 243, 214);
  border-radius: 5px;
  padding: 15px;
}

.hero-info {
  color: rgb(253, 247, 247);
  border: 1px solid white;
  line-height: 25px;
  padding: 20px;
}

.card-image {
  width: 400px;
}
